*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.background-gradient{
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.background-solid{
    background-color: grey;
}

.borda{
    border: 1px solid black;
}

/*INPUTS*/

.form-box{
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 15%;
}

.form-input{
    background-color: transparent;
    color: gold;
    font-family: monospace;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-bottom: 1px solid gold;
    width: 90%;
    height: 45px;
    outline: none;
    opacity: 0.6;
    transition: width 1s, opacity 1s;
}

.form-input:focus{
    width: 100%;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #bdb5b3;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #bdb5b3; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #bdb5b3; 
 }
 
 :-ms-input-placeholder {  
    color: #bdb5b3; 
 }

/*BUTTONS*/

.form-button{
    background-color: transparent;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.form-button-confirm{
    border: 1px solid #5fed5f;
    color: #5fed5f;
    transition: background-color 0.3s, color 0.3s;
}

.form-button-confirm:hover{
    background-color: #52c452;
    color: white;
}

.form-button-reset{
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    transition: color 0.3s, border 0.3s;
}

.form-button-reset:hover{
    border: 1px solid #f06846;
    color: #f06846;
}

.alert-msg{
    color: white;
}

/*NAVBAR*/

.navbar-color{
    color: white !important;
}

/*ESTATÍSTICAS*/

.analystics{
    font-family: monospace; 
    font-size: 52px;
}

.analystics-loteamentos{
    color: #ff9d8c;
    text-shadow: 0px 0px 3px #ff9d8c;
}

.analystics-clientes{
    color: #ffff8c;
    text-shadow: 0px 0px 3px #ffff8c;
}

.analystics-cobrancas{
    color: #a3ff8c;
    text-shadow: 0px 0px 3px #a3ff8c;
}

.analystics-title{
    color: white;
    font-family: monospace;
    font-size: 16px;
    margin-top: 10px;
}

.analystics-box{
    background-color: #3f3f44;
    box-shadow: 0px 0px 3px #56687a;
    border: 2px solid #343a40;
}

.menu-item{
    height: 180px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }

.menu-item span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: black;
    background-color: antiquewhite;
    border-radius: 5px 5px 0px 0px;
}

.menu-pay{
    background: url("../../images/pay.png") no-repeat;
    background-position: center;
}

.menu-ver-clients{
    background: url("../../images/verclient.png") no-repeat;
    background-position: center; 
}

.menu-client-register{
    background: url("../../images/client.png") no-repeat;
    background-position: center;
}

.menu-documents{
    background: url("../../images/documents.png") no-repeat;
    background-position: center;
}

/*CLIENT REGISTER*/
.input-client-register{
    background-color: transparent;
    color: gold;
    font-family: monospace;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-bottom: 2px solid gold;
    width: 90%;
    height: 45px;
    outline: none;
    opacity: 0.6;
    transition: width 1s, opacity 1s;
}

.input-client-register:focus{
    width: 100%;
    opacity: 1;
}

.box-client-register{
    margin-top: 30px;
    background-color: #212529;
    height: 500px;
    border-radius: 10px;
    border: 1px solid white;
}

.box-client-register h1{
    color: white;
}

.button-client-register{
    margin-top: 30px;
    background-color: transparent;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    outline: none;
}

.button-submit{
    border: 1px solid #5fed5f;
    color: #5fed5f;
    transition: background-color 0.3s, color 0.3s;
}

.button-submit:hover{
    background-color: #52c452;
    color: white;
}

.button-reset{
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    transition: color 0.3s, border 0.3s;
}

.button-reset:hover{
    border: 1px solid #f06846;
    color: #f06846;
}

.alert-msg{
    background-color: yellow;
    color: black;
}

.success-msg{
    background-color: green;
    color: black;
}


